/* Default brownser spacing */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: #fb2121;
    text-align: center;
}

/* Main heading */
h1{
    color: azure;
    margin-top: 50px;
    font-size: 3em;
}

/* Paragraph */
p {
    font-size: 1.2em;
    line-height: 1.6l
}